.numbers,
.bonus{
  display: flex;
  align-items: center;
}

.ball{
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid #000;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}